---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% include base_path %}

{% assign pubs_by_year = site.publications | group_by: "year" | sort: "name" | reverse %}

{% for year in pubs_by_year %}
## {{ year.name }}

### Journal Articles
{% for post in year.items %}
  {% if post.type == "journal" %}
- {{ post.citation }}
  {% if post.paperurl %}
  [Link]({{ post.paperurl }})
  {% endif %}
  {% endif %}
{% endfor %}

### Conference Papers
{% for post in year.items %}
  {% if post.type == "conference" %}
- {{ post.citation }}
  {% if post.paperurl %}
  [Link]({{ post.paperurl }})
  {% endif %}
  {% endif %}
{% endfor %}

{% endfor %}
